* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: normal !important;
  
}

body {
  background: url("download.gif") no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  direction: rtl;
  text-shadow: #992f2f;
}

.title {
  margin-top: 50px;
  font-size: 60px;
  color: #9fc164;
  text-shadow: 0 0 20px		#dbcdcd;
}


.left-card{
  width: 400px;
  height: 700px;
  padding: 20px;
  border: 6px solid #9fc164;
  position: absolute;
  top: 250px;
  color: #fff;
  text-align: left;
  border-radius: 20px;
  line-height: 1.6;
}


.right-card{
  width: 400px;
  height:700px ;
  padding: 20px;
  border: 6px solid #9fc164;
  position: absolute;
  top: 250px;
  color: #fff;
  text-align:left;
  border-radius: 20px;
  line-height: 1.6;
}


.left-card{
  left:40px
}

.right-card{
  left:910px
}

.past {
  position: absolute;
  top: 1280px;     
  left: 370px;   
  color: #9fc164;
  font-size: 30px;
  width: 40px;
}

.upcoming {
  position: absolute;
  top: 1240px;    
  right: 140px;   
  color: #9fc164;
  font-size: 30px;
  width: 40px;
  line-height:40px ;
}

.text1 {
  position: absolute;
  top: 1510px;    
  right: 900px;   
  color: #ffffff;
  width: 400px;
}

.text2{
  position: absolute;
  top: 1510px;    
  left: 800px;   
  color: #ffffff;
  width: 520px;
}

ul {
    list-style-position: outside; 
    padding-left: 20px;           
    margin: 0;                  
    direction: ltr;  
    margin-right: 1px;       
}


li {
    text-align: left;          
  }


  .text3{
  position: absolute;
  top : 2150px;    
  left: 50px;   
  color: #ffffff;
  font-size: 17px;
  line-height: 2;
}


.images-container {
  position: relative; 
  width: 300px;       
  height: 300px;     
}

.img1 {
  position: absolute;
  top: 10px;         
  left: 1px; 
  margin-top: 650px;
  margin-left: -40px;  
  width: 300px; 
  height: 300px; 
  border-radius: 50px;   
  border: 6px solid #bfbdaf; 
}

.img2 {
  position: absolute;
  top: 10px;         
  left: 1px; 
  margin-top: 650px;
  margin-left: -700px;  
  width: 300px; 
  height: 300px; 
  border-radius: 50px;  
  border: 6px solid #bfbdaf; 

}

.img3 {
  position: absolute;
  top: 10px;         
  left: 1px; 
  margin-top: 650px;
  margin-left: -1027px;  
  width: 300px; 
  height: 300px; 
  border-radius: 50px; 
  border: 6px solid #bfbdaf;  
}

.img4 {
  position: absolute;
  top: 10px;         
  left: 1px; 
  margin-top: 650px;
  margin-left: -370px;  
  width: 300px; 
  height: 300px; 
  border-radius: 50px; 
  border: 6px solid #bfbdaf;  
}

.btn{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-shadow: 2px 2px 0px #3F3F3F;
  background-color: rgb(146, 146, 146);
  color: rgb(255, 249, 249);
  border: 3px solid rgb(0, 0, 0);
  border-top: 4px solid #3F3F3F;
  border-left: 4px solid #3F3F3F;
  border-right: 4px solid #C4C4C4;
  border-bottom: 4px solid #C4C4C4;
}

.btn:active {
  border-top: 4px solid #C4C4C4;
  border-left: 4px solid #C4C4C4;
  border-right: 4px solid #3F3F3F;
  border-bottom: 4px solid #3F3F3F;
  transform: translateY(-6px); 

}
